h2  Resultados de <br>aprendizaje
.brand-line-primary

.card.resultado-item
    .card-body
        ul.bg-color-dark
            li 
                span Comprender el manejo de arreglos, teniendo en cuenta su funcionamiento y utiización para dar solución a problemas computacionales.