h2  Resultados de <br>aprendizaje
.brand-line-primary

.card.resultado-item
    .card-body
        ul.bg-color-dark
            li 
                span Comprender los conceptos de objeto, su estructura y comunicación, en el marco de la definición de atributos y métodos de una clase.