

.container#arreglos

    .header-ecored

        h1 1. Arreglos

    .row.mx-0.recuadro1

        .col-12

            p.m-0 Los arreglos son variables que permiten almacenar varios datos del mismo tipo en posiciones consecutivas de memoria; cada posición del arreglo guarda un dato diferente y se accede a este a través de su índice que está definido por números en orden ascendente comenzando desde el cero hasta la cantidad de elementos totales 
                i (n) 
                | menos uno 
                i (n-1).
        
        .col-12.text-center

            img(src="assets/images/pages/img1.svg", style="max-width: 80%").mt-5.img-fluid
    
    br

    .row.mx-0.recuadro2.align-items-center

        .col-2.text-center.p-2

            img(src="assets/images/pages/img2.svg", style="max-width: 100%").img-fluid

        .col-10.p-2

            p.m-0 Al momento de trabajar con arreglos es importante definir con claridad qué tipo de estos se debe emplear, porque cada uno de ellos es aplicable a ciertas funcionalidades que el programador requiere y para que el código sea funcional no es muy recomendable usar los tipos más complejos cuando el tipo simple sirve para dar solución al caso que lo necesite.