.container

    .header-ecored
        h1 Glosario

    .jumbotron.bg-white

        p
            strong.mr-2 Arreglo:
            | conjunto de datos del mismo tipo que son almacenados en posiciones consecutivas de memoria.
        
        p
            strong.mr-2 Asignación:
            | proceso mediante el cual se configura un valor para todas las posiciones del vector o matriz o para alguna en especial.
        p 
            strong.mr-2 Definición:
            | proceso mediante el cual el arreglo empieza a existir en el programa al indicarle su tipo, nombre y tamaño.
        p 
            strong.mr-2 Estructura repetitiva:
            | instrucción aportada por el lenguaje que permite ejecutar las mismas acciones un número determinado de veces.
        p
            strong.mr-2 Índice:
            | cada uno de los indicadores de posición dentro de un arreglo o matriz.
        p 
            strong.mr-2 Inicialización:
            | proceso mediante el cual se asignan valores para las posiciones del arreglo en su declaración.
        p 
            strong.mr-2 Matriz:
            | Nombre que se da a los arreglos de dos o más dimensiones.
        p 
            strong.mr-2 Método:
            | cada una de las funcionalidades o acciones que puede llevar a cabo un objeto.
        p 
            strong.mr-2 Recorrido:
            | proceso que se lleva a cabo para efectuar alguna acción masiva sobre el arreglo o matriz.