include ../mixins/functions

.container

    .header-ecored
        h1 Referencias bibliográficas

    .jumbotron.bg-white.referencias
        +referenciaItem("Joyanes, L. (1996). Fundamentos de programación, algoritmos y estructuras de datos. Madrid, España: Mc Graw Hill.", "")